@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
body {
  margin: 0;
  font-family: "Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: linear-gradient(to left, rgb(27 20 41), rgb(20 15 35)); */
}
/* --- New Skill & Tool Card Design --- */

.tech-icons-box {
  padding: 15px !important;
  text-align: center;
}

.tech-card {
  background-color: rgba(18, 14, 28, 0.685) !important; /* Transparent Dark */
  border: 1px solid #c770f0; /* Purple Border */
  border-radius: 10px;
  padding: 20px 10px;
  transition: all 0.4s ease 0s;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 5px 3px rgba(119, 53, 136, 0.151) !important;
}

.tech-card:hover {
  transform: scale(1.05); /* Zoom Effect */
  box-shadow: 0 4px 15px 5px rgba(199, 112, 240, 0.4) !important; /* Glow Effect */
  border: 1px solid #fff;
}

.skill-name {
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 10px;
}

.tool-card h5 {
  color: #c770f0; /* Purple Text for Tools */
  font-weight: bold;
  margin: 0;
}

/* Responsive Image Style */
.image-style {
  width: 100%;
  max-width: 400px;
  border-radius: 20px;
}
